
     <section class="content-header">
     <h1> Watch stream</h1>
      <ol class="breadcrumb">
        <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href=""> Watch stream</a></li>
        <li><a class="active">{{viewstream.channelName}}</a></li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      
      <div class="row">
      	<div class="col-md-8">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="embed-responsive embed-responsive-16by9">
  						<iframe class="embed-responsive-item" src="{{viewstream.streamLink}}"></iframe>
					</div>
      			</div>
      		</div><br />
      		<div class="row">
      			<div class="col-md-12">
      				<div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-red">
              <div class="widget-user-image">
                <img class="img-circle" ng-src="{{viewstream.channelLogo}}" alt="User Avatar" />
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">{{viewstream.streamTitle}}</h3>
              <h5 class="widget-user-desc">{{viewstream.channelName}}</h5>
            </div>
            <div class="box-footer">
              <div class="row">
              	<div class="col-md-7">
          			<div class="info-box">
            			<span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

            			<div class="info-box-content">
              				<span class="info-box-text">Rating</span>
              				<span class="info-box-number">{{viewstream.rating}}</span>
            			</div>
            		<!-- /.info-box-content -->
          			</div>
          		<!-- /.info-box -->
        		</div>
        		<div class="col-md-4">
              		<div class="col-md-4">
              			<a class="btn btn-app disabled">
                			<span class="badge bg-teal">{{viewstream.numberViewers}}</span>
                			<i class="fa fa-eye"></i> Viewers
              			</a>
              		</div>
              		<div class="col-md-4">
              			<a class="btn btn-app" ng-mouseenter="hover=true;flw='Follow?'" ng-mouseleave="hover=false;flw='Followers'" ng-init="flw='Followers'">
                			<span class="badge bg-red">{{viewstream.numberFollowers}}</span>
                			<i class="fa" ng-class="{'fa-heart':hover, 'fa-heart-o':!hover}"></i> {{flw}}
              			</a>
              		</div>
              		<div class="col-md-4">
              			<a class="btn btn-app">
                			<span class="badge bg-purple">$4.99</span>
                			<i class="fa fa-user-plus"></i> Subscribe
              			</a>
              		</div>
              	</div>
              </div>
            </div>
          </div>
      			</div>
      		</div>
      	</div>
      	<div class="col-md-4">
      		<iframe frameborder="0" scrolling="no" id="chat_embed" ng-src="{{viewstream.chatLink}}" height="850" width="500"></iframe>
      	</div>
      </div>
  
    </section>
    <!-- /.content -->

